<div class="row">
  <div class="col-xs-4">
    <ul class="contact-list list">
      <li class="col-xs-12 text-center">
        <div class="contact">
          <div class="contact-image-wrapper">
            <span class="contact-image-block">
              <img ng-src="{{userInfo.picture}}" alt="">
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-xs-8 contact">
    <label>Name: </label> {{userInfo.name}}
    <br>
    <label>Company: </label> {{userInfo.company}}
    <br>
    <label>Phone: </label> {{userInfo.phone}}
    <br>
    <label>Address: </label> {{userInfo.address}}
    <br>
    <label>Email: </label> {{userInfo.email}}
    <br>
  </div>
</div>
<br>
<br>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Txn ID</th>
        <th>Txn Amt</th>
        <th>Txn Type</th>
        <th>Txn Time</th>
        <th>Add/Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="txn in userInfo.transactions">
        <td>{{txn.txnId}}</td>
        <td>{{txn.txnAmt}}</td>
        <td>{{txn.txnType}}</td>
        <td>{{txn.txnTime}}</td>
        <td><button type="button" ng-click="removeTxn(txn)">Remove</button></td>
      </tr>
      <tr>
        <td><input type="text" ng-model="transaction.id" class="hidden" value="{{transaction.id + 1}}">{{transaction.id + 1}}</td>
        <td><input type="text" ng-model="transaction.txnAmt"></td>
        <td><input type="text" ng-model="transaction.txnType"></td>
        <td><input type="text" ng-model="transaction.txnTime"></td>
        <td><button type="button" ng-click="addTxn()">Add</button></td>
      </tr>
    </tbody>
  </table>
</div>
